:root{
    --fucsia:#F194F2;
    --azullila:#CAC9F2;
    --fucsiaoscuro:#F080F2;
    --cafeclaro:#D9936A;
    --cafeoscuro:#732C1D;
    --fuenteprincipal: 3.8rem;

}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: weight;
    font-style: normal;
  }  

  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: weight;
    font-style: normal;
  }  
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;

}

.titulo {
    text-align: center;
    font-size: var(--fuenteprincipal);
    width: 3.8rem;
color: var(--fucsia);
}
.titulo span{
    font-size: 2rem;
    color: var(--azullila);
}

.contenedor{
    width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--fucsia);
}

.navegacion-principal{    
padding: 1rem;
display: flex;
justify-content: space-between;
}

.navegacion-principal a{
    text-decoration: none;
    color: var(--azullila);
    font-size: 2rem;
    font-weight: 700;
}

.navegacion-principal a:hover {
    background-color: var(--fucsiaoscuro);
}
.navegacion-principal {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

img {
    max-width: 100%;
}

.header-img {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.menu-container {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
}

body {
    color: white;
}

.galeria {
    padding: 16rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #CAC9F2;
}

.galeria-1 {
    padding: 16rem;
    align-items: center;
    display:flex;
    justify-content: space-between;
    background-color: #CAC9F2;

}


.footer {
    background-color: #F080F2;
    padding: 100px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3{
    color: #CAC9F2;
    font-size: 18px;
    margin-bottom: 15px;
}

.link a {
    color: purple;
    display: block;
    margin: 10px;
}

.link a:hover {
    color: #CAC9F2;
}

.banner-1 {
    padding: 16rem;
    align-items: center;
    display: flex;
    justify-content: center;

}

.videos-1 {
    padding: 16rem;
    align-items: center;
    display: flex;
    justify-content: center;

}